# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
/logs
*.log

# IDE specific files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific files
Thumbs.db
desktop.ini

# hash-cracker specific
/data/hashes/*
/data/wordlists/*
/data/rules/*
/data/masks/*

# Playwright
/playwright-report/
/test-results/
.last-run.json
